.textComponent {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* Add this line */
}

.textComponentExpanded {
  width: 100%;
  white-space: initial;
  word-wrap: break-word;
}
